body{
  height:100%;
  background-color: #010039;
  align-items: center;
}

h1{
  text-align: center;
  font-family: verdana;
  color:white;
  padding-top: 50px;
}

.col1{
  color:blue;
}
.col2{
  color:green;
}
#prova{
  position: relative;
  top:20px;
  width: 90%;
  left:5%;
  color:white;
}

#immagine_tool{
  position:absolute;
  width: 75%;
  height:100%;
}

.img_didasc p {
    position: absolute;
     bottom: 5%;
     background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
     color: #fff;
     display: none;
     width: 100%;
     height:50px;
}

.img_didasc:hover p {
     display:block;
 }


#legenda{
  position:absolute;
  width:20%;
  left:80%;
  top:25%;
  height: 50%;
  background-color: transparent;
}

.testo{
  color:white;
}
#back_to_top {
  display: inline-block;
  background-color: #800000;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s;
  z-index: 900;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
}
#back_to_top:hover {
  cursor: pointer;
  background-color: red;
}
#back_to_top:active {
  background-color: #555;
}
#back_to_top::after {
  content: "\F062";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#back_to_top.show{
  opacity: 1;
  visibility: visible;
}

#postMenu {
  display: inline-block;
  background-color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  top: 30px;
  left: 30px;
  transition: background-color .3s;
  z-index: 900;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
}
#postMenu:hover {
  cursor: pointer;
}
#postMenu:active {
  background-color: #555;
}
#postMenu::after {
  content: "\F0c9";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: black;
}

#postMenu.show{
  opacity: 1;
  visibility: visible;
}

#freccia_indice {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 4px;
  position: relative;
  background-color: transparent;
}
#freccia_indice::after{
  content: "\F0c9";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  color: black;
}

#aperto{
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  width:400px;
  height: 200px;
  position: fixed;
  top: 30px;
  left: 74px;
  z-index: 900;
}



#top{
  height:700px;
  width:100%;
  background-image: url("im.jpg");
  background-attachment:fixed;
  background size:100% 400px;
  background-position: center;
  text-align: center;
  color: white;
}

#titolo{
  position:relative;
  top:0px;
  widht:100%;
  height:150px;
  background-color:#010039;
}



#indice{
  position:relative;
  background-color:white;
  color:black;
}
#Menu{
  width:100%;
  position:relative;
  background-color:white;
}
#menuIntroduzione{
  position:absolute;
  left:0%;
  width: 33%;
  height: 100%;
  color:black;
  text-align: center;
  border-color: black;
  border-width: medium;

}
.immagine{
  width: 100%;
  float: left;
  border-radius: 10px;
}


.box {
  position:relative;
  top:20px;
  border: 1px;
  margin-top: 10px;
  border-color: white;
  text-align: center;
  align:center;
}


.lista_video{
  color:inherit;
   padding: 5px;
   min-width: 90px;
   font-size: 16px;
   line-height: 1;
   border: 1px solid #ddd;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   appearance: none;
   padding-right: 28px;
}



#bottoneDownload{
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 10px 20px;
  border: solid 1px #000000;
  background-color: #800000;
  border-radius: 10px;
}

#bottoneDownload:hover{
  background-color: red;
}

#tool{
  position: relative;
  top:10px;
  left: 5%;
  width: 90%;
  color:white;
  border-color: black;
}


button {
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 10px 20px;
  border: solid 1px #000000;
  background: transparent;
  border-radius: 10px;
}



#bottone1{
  position:absolute;
  top:40%;
  left:5%;
  display: inline-block;
  background-color: transparent;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  transition: background-color .3s;
}
#bottone1::after {
  content: "\F104";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 45px;
  color: #fff;
}
#bottone1:hover{
  cursor: pointer;
  background-color: #800000;
}

#bottone2{
  position:absolute;
  top:40%;
  right:5%;
  display: inline-block;
  background-color: transparent;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  transition: background-color .3s;
}
#bottone2::after {
  content: "\F105";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 45px;
  color: #fff;
}
#bottone2:hover{
  cursor: pointer;
  background-color: #800000;
}

#box_immagini{
  position:relative;
  left: 7.5%;
  width: 85%;
  top: 25px;
  height:380px;
  -webkit-animation-duration:1s;
}
#im{
  position:absolute;
  top:10px;
  left:2.5%;
  width: 47%;
  transition: background-color .3s;

}



#im1{
  position:absolute;
  top:10px;
  right:2.5%;
  width: 47%;
}

::-webkit-scrollbar{
    width:0.8em;
    height:0.8em;
    background: #eaeaea;
    margin-right: 10px;
}
::-webkit-scrollbar:hover{
    background-color: #eaeaea ;
    border: none;
}
::-webkit-resizer{
    -webkit-border-radius:4px;
    background-color:#ccc;
    border: none;
}
::-webkit-scrollbar-thumb{
    min-height:0.8em;
    min-width:0.8em;
    -webkit-border-radius:4px;
    background-color: #800000;
    border: none;
}
::-webkit-scrollbar-thumb:hover{
    background-color: red;
    border: none;
}
::-webkit-scrollbar-thumb:active{
    background-color:#800000;
    border: none;
}
